@media (max-width: 700px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .conteudo {
    padding-bottom: 180px;
    padding-left: 0;
    padding-right: 0;
  }

  .conteudo3 {
    padding-bottom: 130px;
    padding-left: 0;
    padding-right: 0;
  }

  .titulo-menu {
    display: flex;
    text-align: center;
  }

  .btn-menu {
    display: flex;
    margin: 0;
    height: 0;
    text-align: center;
    flex-direction: column;
  }

  .links {
    padding-top: 10px;
  }

  .primeiro-projeto {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-projeto {
    margin-top: 20px;
    width: 90%;
    margin-right: 0;
  }

  .paragrafo {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .segundo-projeto {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-projeto2 {
    margin-top: 20px;
    width: 90%;
    margin-right: 0;
  }

  .rodape {
    padding: 30px;
  }

  .github {
    height: 30px;
  }

  .instagram {
    height: 30px;
  }

  .redes-socias {
    font-size: 12px;
  }
}
